<table id="summary-table" class="centerTable">
    <tr>
        <td></td>
        <td>Accepted</td>
        <td>Rejected</td>
        <td>Total</td>
    </tr>
    <tr>
        <td>$I_{0}$</td>
        <td>$U$</td>
        <td>$V$</td>
        <td>$m_{0}$</td>
    </tr>
    <tr>
        <td>$\lbrace 1, \dots, m \rbrace \setminus I_{0}$</td>
        <td>$T$</td>
        <td>$S$</td>
        <td>$m - m_{0}$</td>
    </tr>
    <tr>
        <td>Total</td>
        <td>$W$</td>
        <td>$R$</td>
        <td>$m$</td>
    </tr>
    <caption>
        Table 1: All possible outcomes from $m$ hypothesis tests.
    </caption>
</table>