// navigation
$my-nav-div: 3.1;
$content-width: 56rem;
$search-results-width: 50rem;

// typography
$body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
$post-font-family: "Noto Sans", sans-serif;
$heading-font-family: "Lato", sans-serif;
$mono-font-family: "Fira Code", Monaco, Consolas, Ubuntu Mono, monospace;

// figures
$font-size-figure: 1rem;

// index / home width
$my-index-width: 46rem;