<section class="comments">
  {% assign slug = page.name | remove_first: ".md" %}
  {% if site.data.comments[slug] %}
    <div class="comments-existing">
      <h2>Comments</h2>
      {% assign comments = site.data.comments[slug] | where_exp: "item", "item.replying_to_uid == ''" %}
      {% assign comments_by_date = comments | sort: 'date' %}
      {% for comment in comments_by_date %}
      {% assign comment_id = comment._id | prepend: 'comment-' %}
      <article class="comment">
        <span class="comment-author">
          <a href="#{{ comment_id}}" title="Permalink to this comment">{{- comment.name | strip_html }}</a>
        </span>
        <span class="comment-date">
          • {{- comment.date | date:" %B %eth, %Y %H:%M" -}}
        </span>
        <div class="comment-body">
          {{ comment.message }}
        </div>
        <hr style="border-top: .5px solid rgb(74, 73, 73); background: transparent; margin-bottom: 10px;">
      </article>      
      {% endfor %}
  {% endif %}
  
  <!-- Add comment form -->
  <div id="respond" class="comment-new">
    {% include comment_form.html %}
  </div>
</section>