<h2>Leave a comment</h2>
<form id="input-form" method="post" action="{{ site.comments.staticforms.action }}">
  <input type="hidden" name="accessKey" value="{{ site.comments.staticforms.token }}">
  <input type="hidden" name="$Date" value="{{ site.time | date: '%s' }}">
  <input type="hidden" name="$BlogPost" value="{{ page.title }}">
  <input type="hidden" name="subject" value="Comment to blog post {{ site.time | date_to_rfc822 }}">
  {% assign redirect_url = "/thanks.html" | prepend: site.baseurl | prepend: site.url %}
  <!-- DEBUG: hard coded redirect_url -->
  <input type="hidden" name="redirectTo" value="https://lalovic.io/blog/thanks">

  <textarea class="wide-field" id="message" name="message" rows="8" cols="68" 
  placeholder="Your comment (LaTeX markup accepted)" required></textarea>

  <div style="margin-top: 5px; margin-bottom: 5px;">
    <input class="input-field" id="name" name="name" type="text" placeholder="Your name (optional)" />
    <button class="btn btn-blue" id="submit-button" type="submit">Add Comment</button>
  </div>
</form>
<div id="preview-div"></div>

<!-- Comment preview and rerenderMath function to apply MathJax to preview -->
<script>
 function previewComment() {
    const content = document.getElementById("message").value;
    document.getElementById("comment-result-title").innerText = "Your comment:";
    document.getElementById("comment-result").innerText = content;
    rerenderMath();
  }
  
  function rerenderMath() {
    MathJax.typeset();
  }

  var textareaInput = document.getElementById("message");
  textareaInput.onkeyup = textareaInput.onkeypress = function() {
    document.getElementById("preview-div").innerText = this.value;
    rerenderMath();
  }
</script>