<header class="site-header">
    <link rel="apple-touch-icon" sizes="180x180" href="blog/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="blog/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="blog/assets/img/favicon-16x16.png">
    <link rel="manifest" href="https://raw.githubusercontent.com/markolalovic/blog/main/assets/img/site.webmanifest">
    <link rel="mask-icon" href="blog/assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" >
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="https://raw.githubusercontent.com/markolalovic/blog/main/assets/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}"><b>Marko</b> Lalovic</a>
        <a class="site-nav" href="{{ site.baseurl }}">Blog</a>
        <a class="site-nav" href="{{ site.url }}">About</a>
    </div>

</header>
