<header class="site-header">
    <!-- "{{ "/assets/img/..." | prepend: site.baseurl }}" -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/apple-touch-icon.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/favicon-32x32.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/favicon-16x16.png" | prepend: site.baseurl }}">
    <link rel="manifest" href="{{ "/assets/img/site.webmanifest" | prepend: site.baseurl }}">
    <link rel="mask-icon" href="{{ "/assets/img/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ "/assets/img/browserconfig.xml" | prepend: site.baseurl }}">
    <meta name="theme-color" content="#ffffff">

    <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}">{{ site.title }}</a>
        <a class="site-nav" href="{{ site.url }}">About</a>
        <a class="site-nav" href="{{ site.baseurl }}">Blog</a>
    </div>

</header>
