<nav aria-label="Auxiliary" class="aux-nav">
    <ul class="aux-nav-list">
        <li class="aux-nav-list-item">
          <button id="toggle-theme-button" name="Swich Theme" class="toggle-btn site-button fw-500 fs-5" onclick="toggleTheme()">
            {% include svgs/sun_and_moon.svg %}
          </button>
        </li>
        <li class="aux-nav-list-item">
          <a href="{{ site.about }}" class="site-button fw-500 fs-5">
            About
          </a>
        </li>
    </ul>
</nav>

<!-- Light and dark theme toggle -->
<script>
  var currentTheme = "";
  const toggleThemeButton = document.getElementById("toggle-theme-button");

  const lightIcon = document.getElementById("light-icon");
  const darkIcon = document.getElementById("dark-icon");

  const defaultTheme = document.getElementsByTagName("link")[0];
  const lightThemeHTML =
    '<link id="light-theme" rel="stylesheet" href="/blog/assets/css/just-the-docs-light.css"/>';
  const darkThemeHTML =
    '<link id="dark-theme" rel="stylesheet" href="/blog/assets/css/just-the-docs-dark.css"/>';

  if (
    window.matchMedia &&
    window.matchMedia("(prefers-color-scheme: dark)").matches
  ) {
    currentTheme = "dark";
    toggleThemeButton.setAttribute("title", "Switch to light mode");
    darkIcon.setAttribute("display", "none");
    lightIcon.setAttribute("display", "block");
  } else {
    currentTheme = "light";
    toggleThemeButton.setAttribute("title", "Switch to dark mode");
    darkIcon.setAttribute("display", "block");
    lightIcon.setAttribute("display", "none");
  }

  function removeBothThemes() {
    const lightTheme = document.getElementById("light-theme");
    const darkTheme = document.getElementById("dark-theme");
    if (lightTheme !== null) {
      lightTheme.remove();
    }
    if (darkTheme !== null) {
      darkTheme.remove();
    }
  }

  function darkOn() {
    removeBothThemes();
    defaultTheme.insertAdjacentHTML("afterend", darkThemeHTML);
    currentTheme = "dark";
    localStorage.setItem("currentThemeLS", "dark");

    toggleThemeButton.setAttribute("title", "Switch to light mode");    
    lightIcon.setAttribute("display", "block");
    darkIcon.setAttribute("display", "none");
  }

  function lightOn() {
    removeBothThemes();
    defaultTheme.insertAdjacentHTML("afterend", lightThemeHTML);
    currentTheme = "light";
    localStorage.setItem("currentThemeLS", "light");

    toggleThemeButton.setAttribute("title", "Switch to dark mode");    
    lightIcon.setAttribute("display", "none");
    darkIcon.setAttribute("display", "block");
  }

  function toggleTheme() {
    if (currentTheme == "dark") {
      lightOn();
    } else {
      darkOn();
    }
  }

  if (localStorage.getItem("currentThemeLS") !== null) {
    const currentThemeLS = localStorage.getItem("currentThemeLS");
    if (currentThemeLS !== currentTheme) {
      if (currentThemeLS == "dark") {
        darkOn();
      } else {
        lightOn();
      }
    }
  }
</script>