<table id="table1">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Cosine effect</td>
        <td>
            Loss due to the sun's rays not being perpendicular to the heliostat.
        </td>
    </tr>
    <tr>
        <td>Spillage effect</td>
        <td>Loss due to reflected rays missing the receiver.</td>
    </tr>
    <tr>
        <td>Atmospheric attenuation</td>
        <td>Loss due to atmospheric absorption.</td>
    </tr>
    <tr>
        <td>Shading effect</td>
        <td>Sun rays being blocked by neighboring heliostats heliostats.</td>
    </tr>
    <tr>
        <td>Blocking effect</td>
        <td>Reflected rays being blocked by neighboring heliostats.</td>
    </tr>
    <caption>
        Table 1: Key factors influencing plant efficiency.
    </caption>
</table>